@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700,300i,600i,700i|Raleway:600,800");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #b3e6b5;
}

#logo {
    margin-left: 5%;
    height: 100px;
    width: 100px;
}

#title {
    font-family: "Raleway";
    font-size: 100px;
    text-align: center;
    color: white;
    width: 100%;
    margin-bottom: 0;
}

#subtitle {
    font-family: "Raleway";
    font-size: 50px;
    text-align: center;
    color: rgb(235, 233, 233);
    width: 100%;
    margin-top: 0;
}

#header {
    background: #82b184;
    padding: 1%;
    color: white;
}

* {
    box-sizing: border-box;
}

@media (max-width:600px) {
    #title {
        font-size: 12vw;
        text-align: center;
        color: white;
        width: 100%;
    }
    #logo {
        margin: auto;
        max-width: 50%;
        height: auto;
        padding-top: 5%;
        padding-left: 0%
    }
}